<div class="app-card-container">
  <div class="card">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Contact</h1>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.763930750878!2d-122.43060639999999!3d37.79557180000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580c491ba898d%3A0x8517095b19aa631!2s2009+Vallejo+St%2C+San+Francisco%2C+CA+94123!5e0!3m2!1sen!2sus!4v1530412835698" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </main>
  </div>
</div>
